# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ohjelmointitekniikka.VC.db
/ohjelmointitekniikka.VC.VC.opendb
/Release
/01_value_between_01/Release/01_value.6120376E.tlog
/01_value_between_01/Release/01_value_between_01.log
/01_value_between_01/Release
/02_value_between_02/Release
/03_value_between_03/Release
/04_value_between_04/Release
*.lastbuildstate
*.tlog
*.log
*.pdb
*.pdb
/.vs/ohjelmointitekniikka/v15
/.vs/slnx.sqlite
/x64/Release
*.json
